*{
  font-family: 'Ubuntu', 'Verdana';
  scroll-behavior: smooth;
}


*::-webkit-scrollbar{
  display: none;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  width: 40vh;
  padding: 20px;
  margin: auto;
}
.stopwatch > p{
  font-size: 5vh;
  text-align: center;
}
.stopwatch > *{
  margin: 10px;
}
.chart, .self-care{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  height: 60vh;
}

.self-care{
  width: 60%;
  height: 400px;
}

.header{
  background-color: #319795
}

.app{
  overflow: hidden;
}


@media screen and (max-width: 800px){
  .help{
    background-color: #319773;
    scrollbar-width: 30px;
    overflow: auto;
    max-height: 30px;
  }
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  padding: 10px;
}
.header > span{
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin: 0px 6px 0px 6px;
  cursor: pointer;
}

@media screen and (max-width: 710px){
   .header > span{
    font-size: x-large;
   }
   .chart, .self-care{
    height: 60vh;
    margin-top: 30px;
    width: 90%;
   }
}

.header > Modal > ModalContent > ModalFooter {
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: black;
  color: white;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.heart {
  color: red;
}